
body {
    background-color: #282d30;
    font-family: "Galvji";
    text-align: center;
}
h1{

    color: whitesmoke;
    margin-bottom: 50px;
}
p{
    color: whitesmoke;
    font-size: x-large;
    margin-bottom: 60px;
}
a {
    background-color: lightslategray;
    box-shadow: 5px 5px 0 darkred;
    color: whitesmoke;
    padding: 1em 1.5em;
    text-decoration: none;
    font-size: 20px;
    text-decoration: none;
}
a:link{
    color: whitesmoke;
}
a:visited{
    color: whitesmoke;
}
a:hover{
    color: aquamarine;
    font-size:25px;
    cursor: pointer;
}
a:active{
    color: darkcyan;
}