
body {
    background-color: #282d30;
    font-family: "Galvji";
    text-align: center;
}
h1{

    color: whitesmoke;
}
p{
    color: whitesmoke;
    font-size: x-large;
}

a:visited{
    color: whitesmoke;
}
a:hover{
    color: aquamarine;
}
a:active{
    color: darkcyan;
}